modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
JWT_SECRET = "nutterx_super_secret_jwt_key_2024_production"
VAPID_PUBLIC_KEY = "BBKscCUiqwCh2L5R2bPGCt-BSGKJaXY5_AjKkccjNKgYcBxJJT7FXC15lrwDLra9WZwTw9YGqek7TesVj4oW2M8"
VAPID_PRIVATE_KEY = "JTZyaZxl7UORzulIcH0Xk_DxKnKwlxZV3LGbuRByOqY"
VAPID_EMAIL = "mailto:admin@nutterx.com"

[nix]
channel = "stable-25_05"
packages = ["chromium", "got"]
